@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

html{
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

.container:after,
.container:before,
.row:after,
.row:before{
	content: "";
	display: table;
}

.container:after,
.row:after,
.clearfix{
	clear: both;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.container{
	border: 2px solid red;
	width: 100%;
  height: 100%;
}

[class*='col-']{
  width: 100%;
}

/**▬▬▬▬ஜ۩۞۩ஜ▬▬­­­­­­­­­▬▬▬**­/
      MOBILE DEVICE
/**▬▬▬▬ஜ۩۞۩ஜ▬▬­­­­­­­­­▬▬▬**/
@media only screen and (min-width: 320px){
	.col-xs-1{width: 8.33333%;}
	.col-xs-2{width: 16.66667%;}
	.col-xs-3{width: 25%;}
	.col-xs-4{width: 33.33333%;}
	.col-xs-5{width: 41.66667%;}
	.col-xs-6{width: 50%;}
	.col-xs-7{width: 58.33333%;}
	.col-xs-8{width: 66.66667%;}
	.col-xs-9{width: 75%;}
	.col-xs-10{width: 83.33333%;}
	.col-xs-11{width: 91.66667%;}
  .col-xs-12{width: 100%;}

  /*****************
  *   NAVIGATION   *
  *****************/
  nav{
    border: 1px solid orange;
    background-color: #383E4C;
    display: block;
    position: fixed;
    width: 100%;
    margin: -2px;
  }

  nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  nav li{
    border: 1px solid #999;
    margin: 0 10px;
  }

  nav li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 13px;
  }

  nav li a:hover,
  nav li a:focus{
    background-color: #49505F;
  }

  /*****************
  *    HOME PAGE   *
  *****************/
  #homepage{
    border: 1px solid blue;
    height: 100%;
    background: url("img/bg-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
  }

  .homepage-container{
    margin-top: 25%;
    font-family: sans-serif;
    line-height: 0.8%;
  }

  .page-title{
    text-transform: uppercase;
    font-size: 60px;
    text-shadow: 2px 1px 1px black;
  }

  .page-status{
    font-size: 25px;
    text-shadow: 0.5px 1px 1px black;
  }

  /*****************
  *    ABOUT US    *
  *****************/
  #aboutus{
    border: 1px solid green;
    padding: 70px 100px 0 70px;
  }
  
  .column{
    border: 1px solid saddlebrown;
    display: flex;
    overflow: hidden;
  }

  .articles{
    border: 1px solid #ddd;
    background-color: #F2F2F2;
    margin-bottom: 60px;
  }

  .boots,
  .repons{
    margin-right: 40px;
  }

  .article-image{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .article-image img{
    width: 100%;
  }

  .article{
    padding: 20px;
  }

  .article-title{
    font-weight: bold;
    padding: 20px 0;
    font-size: 20px;
  }

  .article-content{
    color: rgb(128, 128, 128);
    line-height: 1.5;
    font-size: 0.9em;
  }

  .article-btn{
    padding: 20px 0;
    text-align: center;  
  }

  /**Three Columns**/
  /**Column 1**/
  .green-text{
    color: green;
  }

  .green-btn,
  .blue-btn,
  .red-btn,
  .white-btn{
    border: none;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .green-btn{
    background-color: rgb(73, 160, 73);
  }

  .green-btn:hover{
    background-color: rgba(73, 160, 73, 0.7);
  }

  /**Column 2**/
  .blue-text{
    color: rgb(22, 134, 193);
  }

  .blue-btn{
    background-color: rgb(22, 134, 193);
  }

  .blue-btn:hover{
    background-color: rgba(22, 134, 193, 0.7);
  }

  /**Column 3**/
  .gray-text{
    color: gray;
  }

  .red-btn{
    background-color: rgb(133, 36, 6);
  }

  .red-btn:hover{
    background-color: rgba(133, 36, 6, 0.7);
  }

  /**Two Columns**/
  .leftside{
    margin-right: 40px;
  }

  .white-btn{
    border: 1px solid #999;
    background-color: #fff;
    color: gray;
  }

  .white-btn:hover{
    background-color: #F2F2F2;
  }

  /*****************
  *  OUR SERVICES  *
  *****************/
  #service{
    border: 1px solid lawngreen;
  }

  .service-header{
    text-align: center;
    background: url("img/bg-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 200px;
    color: #fff;
  }

  .service-title{
    text-transform: uppercase;
    padding: 20px 0;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 30px;
  }

  .service-content{
    padding: 10px 50px;
    line-height: 1.7;
    font-size: 20px;
  }

  /**Four columns**/
  .four-cols{
    padding: 70px 100px 10px 100px;
  }

  .one-col,
  .two-col,
  .three-col{
    margin-right: 30px;
  }
}